On 10/21/2017 I started the first real trading

I used 0.165 bitcoins representing about U$S1000.0

I chose these cryptocurrencies: ADA, TRIG, OK, RISE, IOP, NAV, MONA, EMC2, ADX, VTC, MCO, XVG, SYS, XLM, KMD, TKN

Here I'm just showing a comparison of trading (which is not yet automated) with buy and hold the portfolio above and also with the original gitcoin

In [10]:
from market import market
from portfolio import portfolio
import pandas as pd

In [21]:
portfolio_csv = '/home/mousidev/Testeo/results/Portfolio 1/original_portfolio.csv'
dataframe = pd.read_csv(portfolio_csv, index_col=0)

In [22]:
dataframe.head()

            Available      Balance  CryptoAddress  Pending
Currency
ADA       2175.632911  2175.632911            NaN      0.0
ADX         75.888586    75.888586            NaN      0.0
EMC2       839.096827   839.096827            NaN      0.0
IOP         25.758068    25.758068            NaN      0.0
KMD         36.402626    36.402626            NaN      0.0

In [14]:
p = portfolio.Portfolio.from_bittrex()

In [15]:
p.dataframe.drop(['BTC', 'XRP', 'ETH'], inplace=True)

In [18]:
p.dataframe.to_csv(portfolio_csv)

In [13]:
p.dataframe.head()

  Currency    Available      Balance  CryptoAddress  Pending
0      ADA  2175.632911  2175.632911            NaN      0.0
1      ADX    75.888586    75.888586            NaN      0.0
2     EMC2   839.096827   839.096827            NaN      0.0
3      IOP    25.758068    25.758068            NaN      0.0
4      KMD    36.402626    36.402626            NaN      0.0

In [7]:
p.dataframe.shape

(16, 4)